<footer class="footer mt-auto py-3">
    <div class="row">
        <div class="col">
            <button class="btn" aria-label="Source code" onclick=" window.open('https://github.com/tangalbert919/tangalbert919.github.io', '_blank')">
                <i class="bi bi-file-code" style="font-size: 2em;">Source code</i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn" aria-label="GitHub" onclick=" window.open('https://github.com/tangalbert919', '_blank')">
                <i class="bi bi-github" style="font-size: 2em;"></i>
            </button>
        </div>
        <div class="col">
            <button class="btn" aria-label="LinkedIn" onclick=" window.open('https://www.linkedin.com/in/albert-tang-177792198/', '_blank')">
                <i class="bi bi-linkedin" style="font-size: 2em;"></i>
            </button>
        </div>
    </div>
</footer>