#home.container {
    background-color: #ddd;
    border-radius: 1em;
    display: flex;
    place-content: center;
    justify-content: center;
    align-items: center;
    height: 92vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

a.home-a {
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    color: #333;
    font-size: x-large;
}

h1#home-h1 {
    font-size: 4rem;
    font-family: 'oxproto', monospace;
}