/* Navigation bar */
nav {
    background-color: #333;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    color: #ddd;
    display: block;
    float: left;
    padding: 15px 15px;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
    border-radius: 25px;
}
nav a:hover {
    background-color: darkred;
}
nav a.current {
    color: red;
}

/* Main content */
.main {
    margin-top: 40px;
    padding: 15px;
    height: 1500px;
}

/* Projects page */
div#projectbar {
    width: 30%;
    background-color: aquamarine;
    float: left;
}
div#projectcontent {
    width: 70%;
    background-color: coral;
    float: right;
    overflow-y: auto;
}
