.current {
    color: green;
}

h1 {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}