/* Navigation bar */
nav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    color: #ddd;
    display: block;
    float: left;
    padding: 5px 5px;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
}
nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* The entire body */
body {
    background-color: #999;
}

/* Main content */
.main {
    background-color: #ddd;
    border-radius: 1em;
    margin-top: 70px;
    padding: 15px;
}

/* Projects page */
div#projectbar {
    width: 30%;
    background-color: aquamarine;
    float: left;
}
div#projectcontent {
    width: 70%;
    background-color: coral;
    float: right;
    overflow-y: auto;
}

/* Footer */
footer {
    background-color: #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}