/* Navigation bar */
nav {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
}
nav a {
    color: #ddd;
    display: block;
    float: right;
    padding: 5px 5px;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
}
nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}
nav ul {
    list-style-type: none;
}

/* The entire body */
body {
    background-color: #999;
}

/* Main content */
.main {
    background-color: #ddd;
    border-radius: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#home-page h1, div#home-page h2 {
    padding-bottom: 10px;
    padding-top: 10px;
}

/* Posts */
div#post {
    background-color: #eee;
    border: solid;
    border-color: #999;
    border-radius: 10px;
    border-width: 2px;
    position: relative;
}

div#post h2,div#post h3 {
    color: #555;
}

div#post:hover h2, div#post:hover h3 {
    color: #111;
}

.link-spanner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/* Paragraph */
p {
    text-align: justify;
}

/* Footer */
footer {
    background-color: #ddd;
    width: 100%;
    text-align: center;
}