h1 {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
/* Navigation bar */
nav {
    border: 5px dotted crimson;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}

/* TODO: Move this to its own SCSS file. */
a#navbar {
    background-color: white;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
}
a#navbar:hover {
    background-color: lightgray;
}
a#navbar.current {
    background-color: #eee;
    color: green;
}

/* Projects page */
div#projectbar {
    width: 30%;
    background-color: aquamarine;
    float: left;
}
div#projectcontent {
    width: 70%;
    background-color: coral;
    float: right;
}
